<ion-header>
  <app-header-inspections></app-header-inspections>
</ion-header>

<div class="header-container fixed-header" slot="fixed">
  <div class="page-heading">
    <app-content-header [heading]="heading"
                        [stepCount]="stepCount"
                        [currentStep]="step">
    </app-content-header>
  </div>
</div>

<ion-content>
  <div class="page-container">
    <div class="top-form-inputs">
      <h5>Step {{step}} - {{stepDescription}}</h5>
    </div>
    <br>
    <form [formGroup]="form">
      <div class="form-inputs-container">
        <ion-label>Hyd 1 Pin Connectors</ion-label>
        <div class="form-inputs">
          <ion-item class="select-field-item"
                    [ngClass]="{'ion-invalid ion-touched':navigateNext && form.controls['HYD_1_PIN_CONNECTOR_VISUAL_1_FORM_2_VISUAL'].invalid}">
            <ion-label position="stacked">Visual</ion-label>
            <ion-select formControlName="HYD_1_PIN_CONNECTOR_VISUAL_1_FORM_2_VISUAL" placeholder="Select Scoring">
              <ion-select-option value="Light">Light</ion-select-option>
              <ion-select-option value="Moderate">Moderate</ion-select-option>
              <ion-select-option value="Severe">Severe</ion-select-option>
              <ion-select-option value="None">No Scoring</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="select-field-item"
                    [ngClass]="{'ion-invalid ion-touched':navigateNext && form.controls['HYD_1_PIN_CONNECTOR_VISUAL_1_FORM_2_MECH_DAMAGE'].invalid}">
            <ion-label position="stacked">Mechanical Damage</ion-label>
            <ion-select formControlName="HYD_1_PIN_CONNECTOR_VISUAL_1_FORM_2_MECH_DAMAGE" placeholder="Select Mechanical Damage">
              <ion-select-option value="Light">Light</ion-select-option>
              <ion-select-option value="Moderate">Moderate</ion-select-option>
              <ion-select-option value="Severe">Severe</ion-select-option>
              <ion-select-option value="None">No Mech Damage</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="select-field-item"
                    [ngClass]="{'ion-invalid ion-touched':navigateNext && form.controls['HYD_1_PIN_CONNECTOR_VISUAL_1_FORM_2_STATUS'].invalid}">
            <ion-label position="stacked">Status</ion-label>
            <ion-select formControlName="HYD_1_PIN_CONNECTOR_VISUAL_1_FORM_2_STATUS" placeholder="Select Status">
              <ion-select-option value="accept">Accept</ion-select-option>
              <ion-select-option value="reject">Reject</ion-select-option>
              <ion-select-option value="review">Engineer Review</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="select-field-item"
                    [ngClass]="{'ion-invalid ion-touched':navigateNext && form.controls['HYD_1_PIN_CONNECTOR_VISUAL_1_FORM_2_PITTING'].invalid}">
            <ion-label position="stacked">Pitting</ion-label>
            <ion-select formControlName="HYD_1_PIN_CONNECTOR_VISUAL_1_FORM_2_PITTING" placeholder="Select Pitting">
              <ion-select-option value="Light">Light</ion-select-option>
              <ion-select-option value="Moderate">Moderate</ion-select-option>
              <ion-select-option value="Severe">Severe</ion-select-option>
              <ion-select-option value="None">No Pitting</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="select-field-item"
                    [ngClass]="{'ion-invalid ion-touched':navigateNext && form.controls['HYD_1_PIN_CONNECTOR_VISUAL_1_FORM_2_COMMENT'].invalid}">
            <ion-label position="stacked">Comment</ion-label>
            <ion-select formControlName="HYD_1_PIN_CONNECTOR_VISUAL_1_FORM_2_COMMENT" placeholder="Select Comment">
              <ion-select-option value="Component missing">Component missing</ion-select-option>
              <ion-select-option value="Dimensional inspection required">Dimensional inspection required</ion-select-option>
              <ion-select-option value="Dress and polish completed">Dress and polish completed</ion-select-option>
              <ion-select-option value="Dress and polish required">Dress and polish required</ion-select-option>
              <ion-select-option value="engineering review">Engineering review</ion-select-option>
              <ion-select-option value="Fit for service">Fit for service</ion-select-option>
              <ion-select-option value="Limited access">Limited access</ion-select-option>
              <ion-select-option value="NDE inspection required">NDE inspection required</ion-select-option>
              <ion-select-option value="Unfit for service">Unfit for service</ion-select-option>
              <ion-select-option value="None">n/a</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="select-field-item"
                    [ngClass]="{'ion-invalid ion-touched':navigateNext && form.controls['HYD_1_PIN_CONNECTOR_VISUAL_1_FORM_2_NOTES'].invalid}">
            <ion-label position="stacked">Notes</ion-label>
            <ion-textarea formControlName="HYD_1_PIN_CONNECTOR_VISUAL_1_FORM_2_NOTES"
                          placeholder="type here..."
                          rows="3">
            </ion-textarea>
          </ion-item>
        </div>
      </div>
      <br>
      <div class="center-text">
        <ion-button (click)="fromGallery('180')" color="secondary">
          <ion-icon slot="start" name="camera-outline" class="smaller-icon"></ion-icon>
          Add photo (0-180)
        </ion-button>
      </div>
      <br>
      <ion-grid>
        <ion-row>
          <ion-col
            size="6"
            *ngFor="let photo of photos180; index as i">
            <ion-icon name="close-outline"
                      (click)="deleteImage(i, photos180, '180')"
                      class="image-close-button">
            </ion-icon>
            <ion-img [src]="photo"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p *ngIf="!photos180?.length"
         class="center-text caption-text"
         [ngClass]="{'invalid-input':navigateNext && form.controls['hyd1Images180'].invalid}">No Images Found</p>
      <br>

      <div class="center-text">
        <ion-button (click)="fromGallery('360')" color="secondary">
          <ion-icon slot="start" name="camera-outline" class="smaller-icon"></ion-icon>
          Add photo (180-360)
        </ion-button>
      </div>
      <br>
      <ion-grid>
        <ion-row>
          <ion-col
            size="6"
            *ngFor="let photo of photos360; index as i">
            <ion-icon name="close-outline"
                      (click)="deleteImage(i, photos360, '360')"
                      class="image-close-button">
            </ion-icon>
            <ion-img [src]="photo"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p *ngIf="!photos360?.length"
         class="center-text caption-text"
         [ngClass]="{'invalid-input':navigateNext && form.controls['hyd1Images360'].invalid}">No Images Found</p>
    </form>

  </div>
</ion-content>

<ion-footer>
  <app-bwm-footer [currentRoute]="step"
                  [isFirstRoute]="false"
                  [isFinalRoute]="false"
                  [isFormValid]="validForm"
                  validationMessage="Please complete all required fields."
                  (nextClicked)="navigateToNext($event)">
  </app-bwm-footer>
</ion-footer>
