<ion-content>
  <div class="modal-toolbar">
    <ion-button (click)="dismissModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="page-centered">
    <div class="center-text modal-title">
      Change Password?
    </div>
    <br>

    <ion-item>
      <ion-input type="password" [(ngModel)]="newPassword" placeholder="New Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm Password"></ion-input>
    </ion-item>
    <br>
      <ion-button color="secondary" (click)="onSubmit()" expand="block">Change Password</ion-button>
    <br>
  </div>

</ion-content>
