#percentage-value {
  font-size: 1rem;
  position: absolute;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  // axis compensation
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

#completion-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}
