<ion-header>
  <app-header-inspections></app-header-inspections>
</ion-header>

<div class="header-container fixed-header" slot="fixed">
  <div class="page-heading">
    <app-content-header [heading]="heading"
                        [stepCount]="stepCount"
                        [currentStep]="step">
    </app-content-header>
  </div>
</div>

<ion-content>
  <div class="page-container">
    <div class="top-form-inputs">
      <h5>Step {{step}} - {{stepDescription}}</h5>
      <br>
      <ion-button (click)="usePreviousData()"
                  color="secondary">
          <ion-icon slot="start"
                    name="reload-outline"
                    class="smaller-icon">
          </ion-icon>
          Use previous data
      </ion-button>
    </div>
    <form [formGroup]="form">
      <div class="form-inputs">
        <div class="various-form-inputs-container">
          <ion-radio-group formControlName="METHOD_1" value="">
            <ion-label class="radio-label">Method</ion-label>
            <ion-grid>
              <ion-row [ngClass]="{'invalid-input':navigateNext && form.controls['METHOD_1'].invalid}">
                <ion-col size="6">
                  <ion-item>
                    <ion-label>Fluorescent</ion-label>
                    <ion-radio slot="start" value="Fluorescent"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item>
                    <ion-label>Visible </ion-label>
                    <ion-radio slot="start" value="Visible"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-radio-group>
          <ion-radio-group formControlName="METHOD_2" value="">
            <ion-grid>
              <ion-row [ngClass]="{'invalid-input':navigateNext && form.controls['METHOD_2'].invalid}">
                <ion-col size="6">
                  <ion-item>
                    <ion-label>Solvent</ion-label>
                    <ion-radio slot="start" value="Solvent"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item>
                    <ion-label>Water</ion-label>
                    <ion-radio slot="start" value="Water"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-radio-group>
        </div>
      </div>
    </form>

  </div>
</ion-content>

<ion-footer>
  <app-footer-dye-pen [currentRoute]="step"
                      [isFirstRoute]="false"
                      [isFinalRoute]="false"
                      [isFormValid]="validForm"
                      validationMessage="Please complete all required fields."
                      (nextClicked)="navigateToNext($event)">
  </app-footer-dye-pen>
</ion-footer>
